.sign-in {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;



  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
  }
  .circle-loading{
      margin-top: auto;
      margin-bottom: auto;
    }
  .logo {
    height: 25%;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .help {
    color: white;
    margin-top: 1rem;
  }
 
    .help-link {
      display: inline-flex;
      color: white;
      margin-top: 20px;
    }
    .help-link:hover {
      display: inline-flex;
      color: rgb(208, 2, 27);
      margin-top: 20px;
      cursor: pointer;
  
    }
  
  
  .icon-google , .icon-github{
    line-height: 3.725rem;
    font-size: 0.9375rem;   
  }


}
