.product-item {
    margin-left: 14rem;
    margin-top: 5rem;
    width: 72vw;
    display: flex;
    height: 350px;
    justify-content: space-evenly;
    border: none;
    position: relative;
    
   
    .image {
      width: 60vw;
      height: 50vh;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      border: none;
    }

    .custom-button {
      width: 80%;
      opacity: 0.7;
      top: 255px;
    }

    &:hover {
     .image {
      opacity: 0.8;
      }
      .custom-button {
        opacity: 0.85;
        
      }
    }
  
    .product {
     
      margin-left: 2rem;
      width: 50vw;
      display: flex;
      flex-direction: column;
      font-size: 18px;


    .header {
      display: flex;
      justify-content: space-between;
     }
    .name {
      width: 90%;
      margin-bottom: 15px;
    }
  .size {

    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
  }
    .quantity {
      display: flex;
      justify-content:  space-around;
      margin-top: auto;
      margin-bottom: auto;
      align-items: center;
      width: 10vw;
    }
    .price {
    
      font-size: 2rem;
      width: 10%; 
      }
    }
    .footer {
     margin-top: 2rem;
     height: 2rem;
     color: white;
    }

  }
  .toastify{
    display: flex; 
    justify-content: space-between; 
    margin-top: 1rem; 
    width: 20.5rem
  }
