.custom-button {

  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  margin:  5px;
  font-size: 15px;
  background-color: rgb(178, 30, 62);
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  &.google-sign-in {
    background-color: #4285F4;
    color: white;
    &:hover {
      background-color: #357ae8;
      border: none
    }
  }
  &.github-sign-in {
    background-color: black;
    color: white;
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  }
  &.out-of-stock {
    background-color:  #ffff;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
   
    &:hover {
      background-color:  #f6f6f6;
      color: #717171;
      border: 1px solid #f6f6f6;
      cursor: pointer;
    }
  }
  &.inverted {
    background-color: rgb(178, 30, 62);
    color: white;
    border: 1px solid white;
 
    &:hover {
      background-color: rgb(178, 30, 62);
      color: white;
      border: none;
    }
  }


}
.round-button {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.wish-button {

  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 10px 0 10px;
  margin:  5px;
  font-size: 15px;
  background-color: rgb(178, 30, 62);
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;


  &.wish-list {
    background-color: rgb(178, 30, 62);
    color: white;
    border: 1px solid white;
    &:hover {
      background-color: white;
      color: rgb(178, 30, 62);
      border:none;
    }
  }
}